body { background: #eee }

.container-fluid { max-width: 1000px; margin-top: 70px;}

header {
	background: #563d7c;
	padding: 2em 1em;
	color: #ffffff;
	margin-bottom: 2em;

}

.card {
    margin-bottom: 20px;
	background: #ffffff;
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);

    
}
.card-img-top{
    height: 320px;

}

[class*="row"] {
	margin-bottom: 1em;
  justify-content: center;
}

[class*="col-"] {
	background: #efefef;
	border: 1px solid #ddd;
	padding-top: .75rem;
	padding-bottom: .75rem;
	width: 100%;
}


