body { background: #eee }

.container-fluid { max-width: 1000px; margin-top: 70px;}

.encabezadoTabla{background: rgba(0, 0, 0, 0.301)}

table{
    margin-top: 15px;
}

h2{
    text-align: center;
}

[class*="row"] {
	margin-bottom: 1em;
  justify-content: center;
}

[class*="col-"] {
	background: #efefef;
	border: 1px solid #ddd;
	padding-top: .75rem;
	padding-bottom: .75rem;
	width: 100%;
}

.cambiarContrasena{
	margin-left: .75rem;
}
.cambiarMatricula{
	margin-left: .75rem;
	margin-right: .75rem;
}

.datoslbl{
	font-size: large;
}
.datoslbl2{
	font-size: large;
	font-weight: bolder;
}
form label.error {
	float: right;
	color: red;
	font-weight: normal;
	padding-left: .5em;
	vertical-align: top;
}

.camposiguales{
	background:#C6FFD5;
	border:1px solid green;
	display: block;
	float: right
 }